body {
    background: gray;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    background: black;
}

.ownerframe {
    max-width: 600px;
    margin: 0 auto;
    background: white;
}

.head {
    max-width: 600px;
    margin: 0 auto;
    text-size-adjust: 20;
    background: gray;
}

.dropper {
    max-width: 600px;
    margin: 0 auto;
    background: black;
}

.header {
    text-align: center;
    background: gray;
    padding: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
}

.menu {
    max-width: 600px;
    margin: 0 auto;
    background: black;
}

main {
    background: gray;
    padding: 10px;
}

/* nav {
    background: rgb(246, 139, 180);
    padding: 10px;
} 
*/

div {
    padding: 10px;
    margin: 50px;
    color: black;
    text-shadow: 1px 1px 2 px black, 0 0 1em red;
    font: 14pt montserrat;
    border: 2px solid rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
    font: 12pt montserrat;
}

h1 {
    color: rgb(255, 255, 255);
    font: 40pt montserrat;
    text-align:center;
}

nav a {
    background: gray;
    padding: 2px;
    color: white;
    border-radius: 5px;
    transition: 1s;
}

nav a:hover {
    background: gray;
}
